* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: block;
    align-content: space-between;
}

form {
    margin-top: 8px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;

}